*{
    color: #fff;
}
h3{
    margin-top: 15px;
}
p{
    font-size: 13px;
    margin: 0;
}
.seccion>img{
    width: 30px;
    height: 30px;
    border-radius: 15%;
    cursor: pointer;
}
.separar{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.Dominio>img{
    width: 42px;
    height: 42px;
}
.abajo{
    display: flex;
    flex-direction:row;
    margin-top: 5px;
}

.progress {
    width: 30%;
    border: 1px solid #428bca;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}
 
.progress-bar {
    height: 100%;
    background: #cce7f5;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
 
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}
.progress{
    height: 25px;
    margin: 15px 0 0 3%;
}