<header [ngClass]="{'pad': pad}">
    <nav [ngClass]="{'nav': mostrar}">
        <button class="cerrarMenu" (click)="cerrar()"><i class="bi bi-x-lg"></i></button>
        <ul class="nav-list">
            <li><a href="">Inicio</a></li>
            <li><a href="curriculum">Curriculum</a></li>
            <li><a href="trabajos">Mis trabajos</a></li>
        </ul>
    </nav>
    <button class="abrirMenu" (click)="abrir()"><i class="bi bi-list"></i></button>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="footer">
        <ul>
            <li class="tema">Kevin Magaña</li>
            <li><a [routerLink]="['/curriculum']">Curriculum</a></li>
            <li><a [routerLink]="['/curriculum/experiencia']">Experiencia</a></li>
        </ul>
        <ul>
            <li class="tema">Mis habilidades</li>
            <li><a [routerLink]="['/curriculum/tecnologias']">Tecnologías</a></li>
            <li><a [routerLink]="['/trabajos']">Mis proyectos</a></li>
        </ul>
        <ul>
            <li class="tema">Contactame</li>
            <li>
                <a href="mailto:kammonroy@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
                <a href="https://www.facebook.com/kevin.anmm" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://wa.me/+50379440351" target="_blank"><i class="bi bi-whatsapp"></i></a>
            </li>
        </ul>
    </div>
    <p>(2018-2024) Kevin Antonio Magaña Monroy (Programador)</p>
</footer>




