header{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    background-color: rgb(245, 246, 247);
    margin-bottom: 20px;
}

.nav-list{
    display: flex;
    gap: 1rem;
}
li{
    list-style: none;
}
a{
    font-size: 16px;
    text-decoration: none;
}
.abrirMenu{
    display: none;
}
.cerrarMenu{
    display: none;
}
nav a:hover{
    color: rgb(27, 174, 156);
    text-decoration: underline ;
    text-underline-offset: 1em;
}
.contenedores{
    margin-top: 20px;
}
footer *{
    font-size: 13px;
}
footer{
    width: 100%;
    background-color: rgb(26,46,64);
    padding: 10px;
    color: white;
}

.footer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10px 10px 0px 10px;
}

.tema{
    color: rgb(0, 177, 187);
    text-decoration: underline ;
    text-underline-offset: 5px;
    margin-bottom: 15px;
}
.footer a, .footer a>i{
    color: rgb(230, 243, 255);
}
.footer a:hover, .footer a>i:hover{
    color: gray;
}
.footer a>i{
    float: left;
    margin-right: 7px;
}
footer p{
    padding: 10px 10px 0px 10px;
}
@media screen and (max-width:550px){
    a{
        display: block;
        width: 100%;
    }
    .abrirMenu , .cerrarMenu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .ocultar{
        display: none;
    }
    .pad{
        padding: 0;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
    }
    header{
        justify-content: flex-end;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding: 1.7rem;
        padding-left: 4rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0, .5);
        z-index: 1;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    a:hover{
        color: aliceblue;
        text-decoration: none;
    }
}