<form #miFormulario="ngForm" (ngSubmit)="actualizar(miFormulario)">
    <div class="formulario">
        <div class="titulo-formulario">
            <a href="generador">Crear pagina</a>
            <h1>Tecnologías</h1>
            <a href="experiencia">Experiencia</a>
        </div>
        <div>
            <select name="lenguaje" #lenguaje="ngModel" ngModel>
                <option value=0>HTML</option>
                <option value=1>CSS</option>
                <option value=2>Angular</option>
                <option value=3>Android</option>
                <option value=4>React</option>
                <option value=5>Node js</option>
                <option value=6>Javascript</option>
                <option value=7>Typescript</option>
                <option value=8>C#</option>
                <option value=9>JAVA</option>
                <option value=10>Sql Server</option>
                <option value=11>My Sql</option>
                <option value=12>Firebase</option>
            </select>
        </div>
        <div>
            <input type="text" name="porcentaje" placeholder="Porcentaje" ngModel>
        </div>
        <div class="centrar">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>

